body {
    background-color: linen;
}

h1 {
    color: maroon;
    font-family: sans-serif;
}

h1 {
    color: maroon;
    font-family: sans-serif;
}

p {
    color: maroon;
    font-family: sans-serif;
}
</style>
</head>
